@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  font-size: 10rem; /* Adjust based on your design */
  position: absolute;
  color: black;
  white-space: nowrap;
  z-index: 10;
  pointer-events: none; /* Allows clicks to pass through the text */
}

h1::after {
  position: absolute;
  top: 0;
  left: 5%;
  color: black;
  opacity: 1;
}
